<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="justify-content: space-around;">
  <!-- SitPost Logo -->
  <a class="navbar-brand" routerLink="" style="margin-left: 5%;">
    SitPost
  </a>

  <div class="spacer"></div>

  <!-- Users Tools -->
  <ul class="navbar-nav ms-3" style="margin-right: 5%;">
    <li *ngIf="isLogged() == false" class="nav-item me-3">
      <button class="btn btn-primary" routerLink="login">SignIn</button>
    </li>
    <li *ngIf="isLogged() == false" class="nav-item me-3">
      <button class="btn btn-success" routerLink="signup">SignUp</button>
    </li>
    <li *ngIf="isLogged() == true" class="nav-item me-3">
      <button class="btn btn-secondary" routerLink="profile">{{ this.user }}</button>
    </li>
    <li *ngIf="isLogged() == true" class="nav-item me-3">
      <button class="btn btn-primary" routerLink="post">Post</button>
    </li> 
    <li *ngIf="isLogged() == true" class="nav-item me-3">
        <button class="btn btn-danger" (click)="logOut()">LogOut</button>
    </li>   
  </ul>
</nav>