<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create Post</h2>
            <form [formGroup]="postForm">
              <div class="form-outline form-group mb-4">
                <input type="text" formControlName="title" class="form-control form-control-lg" placeholder="Title"/>
                <div class="text-danger"
                  *ngIf="postForm.get('title')?.hasError('required') && postForm.get('title')?.touched">
                        <span>Email is <strong>required</strong></span>
                </div>
                <div class="text-danger"
                  *ngIf="postForm.get('title')?.hasError('maxlength')">
                    <span>Title cant have more than <strong>20 characters</strong></span>
                </div>
              </div>
              <div class="form-outline form-group mb-4">
                <textarea style="max-height: 150px" type="text" formControlName="body" class="form-control form-control-lg" placeholder="What's happening?"></textarea>
                <div class="text-danger"
                *ngIf="postForm.get('body')?.hasError('required') && postForm.get('body')?.touched">
                        <span>Password is <strong>required</strong></span>
                </div>
                <div class="text-danger"
                  *ngIf="postForm.get('body')?.hasError('maxlength')">
                        <span>Body cant have more than <strong>200 characters</strong></span>
                </div>
              </div>
              <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
              <img [src]="photoSelected || 'assets/no-image.png'" style="height: 500px; width: 600px; margin-bottom: 1%;" class="img-fluid" (click)="photoInput.click()"/>
              <div class="d-flex justify-content-center">
                <button (click)="post()" [disabled]="postForm.invalid" type="submit" class="btn btn-info btn-block btn-lg gradient-custom-4 text-body">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>