<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Change Password</h2>
            <form [formGroup]="passwordForm">
              <div class="form-outline form-group mb-4">
                <h2>Type new password</h2>
                <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Password..." [type]="hide ? 'password' : 'text'"/>
                <i class="material-icons" matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility':'visibility_off'}}
                </i>
                <div class="text-danger"
                *ngIf="passwordForm.get('password')?.hasError('required') && passwordForm.get('password')?.touched">
                        <span>Password is <strong>required</strong></span>
                </div>
                <div class="text-danger"
                  *ngIf="passwordForm.get('password')?.hasError('minlength')">
                    <span>Password must contain <strong>5 characters</strong></span>
                </div>
                <div class="text-danger"
                  *ngIf="passwordForm.get('password')?.hasError('maxlength')">
                    <span>Passowrd cant have more than <strong>20 characters</strong></span>
                </div>
                <div class="text-danger"
                  *ngIf="passwordForm.get('password')?.hasError('pattern')">
                    <span>Enter valid <strong>password</strong></span>
                </div>
              </div> 
              <button [disabled]="passwordForm.invalid" type="submit" class="btn btn-info btn-block btn-lg gradient-custom-4 text-body" (click)="updateProfile()">Save</button>
              <button type="submit" class="btn btn-info btn-block btn-lg gradient-custom-4 text-body" routerLink="">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>