<div class="container" style="justify-content: center; max-width: 20%; margin-top: 2%; margin-bottom: 2%;">
  <input type="text" class="form-control form-control-lg" name="filterPost" [(ngModel)]="searchText" placeholder="Search on SitPost..." />
</div>

<!-- Posts and Comments -->
<div class="container d-flex" style="justify-content: center;" *ngFor="let post of chunk | filter:searchText;">

  <div class="card col-12" style="max-width: 100%; max-height: 100%;">
    <!-- Post -->
    <div class="card-header d-flex" style="max-height: 50px; justify-content: space-between;">
      <h2 (click)="userProfile(post.user)">@{{ post.user }}</h2>
      <h3>{{ post.datePosted | date:'mediumDate' }}</h3>
      <a class="btn btn-danger btn-sm" style="max-width: 60px; float: right;" *ngIf="this.test === post.user" (click)="deletePost(post._id)"><i class="fa-solid fa-trash"></i></a>
    </div>
    <div class="card-body">
      <h1>{{ post.title }}</h1>
      <h4>{{ post.body }}</h4> 
      <div *ngIf="post.image">
        <img [src]="'http://localhost:3000/' + post.image" class="img-card-top w-100" style="max-height: 800px;"/> 
      </div>   
    </div>
    <div class="buttons" style="justify-content: flex-start;">
      <a class="btn btn-light btn-sm" style="float: left; max-width: 100px; margin-left: 1%; margin-bottom: 2%;" *ngIf="this.reply == false" (click)="like(post._id)"><i class="fa-solid fa-heart"></i>{{ post.likes.length }}</a>
      <a class="btn btn-primary btn-sm" style="float: left; max-width: 60px; margin-left: 3%; margin-bottom: 2%;" (click)="open(this.value = post._id)" *ngIf="this.reply == false && isLogged() == true"><i class="fa-solid fa-comment"></i></a>
      <a class="btn btn-warning btn-sm" style="float: left; max-width: 90px; margin-left: 3%; margin-bottom: 2%;" (click)="showComments(this.value = post._id)" *ngIf="this.commentsShow == false"><i class="fa-solid fa-comments"></i></a>
    </div>

    <!-- Add comment -->
    <div class="card-header" *ngIf="this.replyOpen == true && this.value == post._id">
      <form [formGroup]="commentForm">
        <textarea class="container form-control form-control-lg d-flex" style="max-height: 150px; max-width: 80%; justify-content: center; margin-bottom: 1%; margin-top: 1%;" formControlName="body" placeholder="Add comment..."></textarea>
          <div class="text-danger" style="margin-left: 10%;"
          *ngIf="commentForm.get('body')?.hasError('required') && commentForm.get('body')?.touched">
            <span>Comment is <strong>required</strong></span>
          </div>
          <div class="text-danger" style="margin-left: 10%;"
            *ngIf="commentForm.get('body')?.hasError('minlength')">
              <span>Comment must contain <strong>1 character</strong></span>
          </div>
          <div class="text-danger" style="margin-left: 10%;"
            *ngIf="commentForm.get('body')?.hasError('maxlength')">
              <span>Comment cant have more than <strong>250 characters</strong></span>
          </div>
      </form> 
      <a class="btn btn-primary btn-sm" style="float: right; max-width: 60px; margin-left: 1%; margin-right: 10%;" (click)="addComment(this.value)"><i class="fa-solid fa-message"></i></a>
      <a class="btn btn-danger btn-sm" style="float: right; max-width: 65px" (click)="close()"><i class="fa-solid fa-ban"></i></a>
    </div>

    <!-- Show Comments -->
    <div class="card-header" style="max-height: 100%; margin-bottom: 2%;" *ngIf="this.showComment === true && this.value === post._id && this.replyOpen == false">
      <h2>Comments:</h2>
      <div *ngIf="this.element.length <= 0">
        <h3>No comments yet</h3>
      </div>
      <div class="card-content" *ngFor="let ele of element">
        <div class="card-header d-flex" style="max-height: 50px; justify-content: space-between;">
          <h2 (click)="userProfile(ele.user)">@{{ ele.user }}</h2>
          <h3>{{ ele.datePosted | date:'mediumDate' }}</h3>
          <a class="btn btn-danger btn-sm" style="float: right;" *ngIf="this.test2 === ele.user" (click)="deleteComment(ele._id)"><i class="fa-solid fa-trash"></i></a>
        </div>
        <div class="card-body">
          <h4>{{ ele.body }}</h4>
          <a class="btn btn-dark btn-sm" style="float: left; max-width: 100px;" *ngIf="this.reply == false" (click)="likeComment(ele._id)"><i class="fa-solid fa-heart"></i>{{ ele.commentLikes.length }}</a>
        </div>
        <hr>
      </div>
      <a class="btn btn-danger btn-sm" style="float: right; max-width: 65px" (click)="closeComments()"><i class="fa-solid fa-ban"></i></a>
    </div>
  </div>

</div>

<mat-paginator 
  class="d-flex"
  style="justify-content: center; margin-top: 2%;"
  [pageSizeOptions]="[5, 10, 20]" 
  [pageSize]="5"
  [length]="this.posts.length"
  (page)="OnPageChange($event)">
</mat-paginator>