<div class="container" style="margin-top: 5%">
  <div class="card" style="max-width: 1000px;">
      <div class="card-title">
        <div class="justify-content-start">
          <div class="image-container">
              <img src="" style="width: 150px; height: 150px; margin-left: 2%; margin-top: 1%;" class="img-thumbnail" />
          </div>
          <div class="userData">
              <h1 class="d-block" style="font-size: 1.5rem; font-weight: bold; margin-left: 2%; margin-top: 1%;">@{{ this.user }}</h1>
              <h4 class="d-block" style="margin-left: 2%;">Email: {{ this.email }}</h4>
          </div>
      </div>
      <div class="card-body">
        
      </div>
  </div>
</div>